.card {
  background: transparent;
  backdrop-filter: blur(8px);
  border: 0px solid rgba(128, 128, 128, 0.4);
  padding: 24px;
  border-radius: 16px;
  transition: all 0.25s ease-in-out;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.15);

  position: relative;
  z-index: 1;
  h3,
  h4,
  a {
    color: black;
  }
  a {
    font-size: xx-large;
    text-decoration: none;
  }
  img {
    border-radius: 16px;
    filter: grayscale(100%);
    max-width: 250px;
    max-height: 250px;
  }
}

.card:hover {
  z-index: 2;
  margin: 8px;
  img {
    filter: none;
    box-shadow: 0 10px 35px rgba(0, 0, 0, 0.5);
  }
}
